

.financial-bars-loader {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align to bottom for a more stable look */
  height: 20px; 
  width: auto;
  gap: 2px;
}

.candle {
  animation-name: fluctuate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes fluctuate {
  0% {
    transform: scaleY(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0.5);
    opacity: 0.5;
  }
}
